<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExamenOefenen.Properties.Settings.connectionString"
            connectionString="Data Source=DESKTOP-800DI9M;Initial Catalog=ExamenOefenen;Persist Security Info=True;User ID=mcleonell;Password=balvoet=old" />
        <add name="ExamenOefenen.Properties.Settings.conStringHome" connectionString="Data Source=DESKTOP-800DI9M;Initial Catalog=ExamenOefenen;Persist Security Info=True;User ID=mcleonell;Password=balvoet=old" />
        <add name="ExamenOefenen.Properties.Settings.conStringLaptop"
            connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=ExamenOefenen;Integrated Security=True"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>